/*Selector universal*/
*{
    margin: 10;
}

/*Selector de tipo*/
h1{
    color: crimson;
}

/*Selector de clase*/
.header{
    color: coral;
    text-align: center;
}

/*Selector de Id*/
#animales{
    text-align: center;
}

/*Pseudo clases*/
p:first-child{
    color: darkgreen;
}
p:last-child{
    color: darkmagenta;
}
p:nth-child(2n){
    color: darkviolet;
}

/*Pseudo Elemento*/
p::after {
    content: " mishi:)";
  }

p::before{
    content: "Ex=";
    color: lightblue;
}
p::first-letter{
      color: deeppink;
      font-size: 30px;
      font-style: inherit;
  }

.caja1{
      width: 20px;
      height: 20px;
      background-color: #faa307;
      padding: 20px;
      border: 2px solid #aacc00;
      margin: 10px;
  }

.caja2{
    width: 20px;
    height: 20px;
    background-color: #f3c4fb;
    padding: 20px;
    border: 2px solid #f08080;
    margin: 40px 30px 20px 10px;
}