body{
    margin:0px;
    background: linear-gradient(#edadc7, #B594B6 );
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 80px;
    margin-left: 10px;
    margin-top: 5px;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container{
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border: 2px solid #723c70;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.login__conatiner--form{
    display: flex;
    flex-direction:  column;

}

.login__conatiner--form label{
    font-size: 14px;
}

.login__container--remenber-me{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.login__container--remenber-me a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.login__container--remenber-me a:hover{
    text-decoration: underline;
}

.login__conatiner--social-media > div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;

}

.login__conatiner--social-media img{
    width: 40px;
    height: 40px;
}

.login__conatiner--social-media > div > img{
   width: 30px;
   margin-right: 18px;

}

.login__container--registro{
    font-size: 14px;
}

.login__container--registro a{
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.login__container--registro a:hover{
   text-decoration: underline;
}

.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family:  Helvetica;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder{
    color: white;
}

.button{
    background-color: rgba(43, 61, 223, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
}

.footer a{
   color: white;
   cursor: pointer;
   font-size: 14px;
   padding-left: 30px;
   text-decoration: none;

}

.footer a:hover{
    text-decoration: underline;
}


/*ayuda para visualizar de una mejor forma la pagina desde 
un dispositivo movil*/
@media only screen and (max-width: 600px) {
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .footer{
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px 0px 20px 0px;
        margin: 30px 0 10px 0;
        
    }
    .footer > a{
        margin: 0px;
        padding: 10px;
    }
}