body{
    margin:0px;
    background: #B594B6;
}

header{
    width: 100%;
    height: 80px;
    background-color: #B594B6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 80px;
    margin-left: 10px;
    margin-top: 5px;
}

.header__menu{
    margin-right: 30px;
}

.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 120px;
    text-align: right;
    margin: 0px;
}

/*Desplegable del menu*/
.header__menu:hover ul, ul:hover {
    display: block;
}

/*si se usan en solo dos de el primero  Top-Root segundo L-R*/
.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: rgb(243, 238, 235);
    text-decoration: none;
}

.header__menu li a:hover{
    text-decoration: underline ;
    color: #a1ff0a;
}

.header__menu li {
    margin: 10px 30px 0px 0px;
}
.header__menu--profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header__menu--profile p{
    margin: 0px;
    margin-left: 10px;
    color: rgb(243, 238, 235);
}
.header__menu--profile  img{
    width: 40px;
    height: 40px;
    margin-top: 0px;
}

.main{
    height: 300px;
}

.main__titulo{
    font-size: 25px;
    color: white;
    display: absolute;
    align-items: center;
}

.input{
    background-color: #deaaff;
    border: 2px white solid;
    border-radius: 25px;
    padding: 0px 20px;
    height: 25px;
    font-size: 16px;
    width: 70%;
    color: black;
}

::placeholder{
    color: white;
}


/*Creacion del casurel*/
.carusel{
    width: 100%;
    /*Crear un scroll en el carusel*/
    overflow: scroll;
    padding : 30px;
    /*Todos los elemnos se van a posicionar apartir de este elemento que sigan en la misma linea y no se montan para abajo */
    position: relative;
}

.carusel__container{
    /*Funcion dedicada a que los elementos */
    white-space: nowrap;
    margin: 75px 0px;
    /*evitar que la imagen  se corte cuendo se agramde*/
    padding-bottom: 15px;
}

.carusel-item{
    background: #deaaff;
    width: 200px;
    height: 250px;
    border-radius: 25px;
    /*evita distrocion al elemento al agrandar*/
    overflow: hidden;
    margin-left: 15px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms;
    /*hace que el primer item no se vaya hacea el borde*/
    transform-origin: center left;
}

.carusel-item:hover ~ .carusel-item{
    transform: translate3d(100px, 0px, 0px);
}

.carusel__container:hover .carusel-item{
    opacity: 30%;
}

.carusel__container:hover .carusel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}


